:host {
  display: block;
  height: 100%;
}

.shell {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background: var(--bg-app);
  transition: none;

  &__content {
    flex: 1 1 auto;
    min-width: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: var(--bg-app);
  }
}
